.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.logo {
  width: auto;
  height: 65px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  font-size: calc(10px + 2vmin);
  color: black;
}

.searchbar {
  height: 12px;
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}